* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: green;
}

#car {
  width: 10rem;
  transition: transform 0.03s ease-in-out;
  position: absolute;
}

.down {
  transform: rotate(90deg);
}

.up {
  transform: rotate(-90deg);
}

.left {
  transform: rotate(-180deg);
}
